<div class="container-fluid p-0" id="main-wrapper" [ngClass]="{'blur': blur_content}">


  <anon-blog-nav></anon-blog-nav>

  <div class="background-wrapper">

      <div class="container-fluid header p-2" aria-label="Blog-Header">
        <div class="container">
          <div class="row">

            <div class="col d-flex justify-content-start align-self-center" aria-label="Title/Logo">
              <div class="col"> <h4 class="m-0 text-primary"> Blog Newspost </h4> </div>
            </div>

            <div class="col d-flex justify-content-end" aria-label="Blog-Nav">
              <div class="col-md-auto align-self-center"> <button class="m-0 p-0 bg-transparent" style="border: none!important;cursor: pointer;" nbButton> <nb-search class="" type="rotate-layout"></nb-search> </button> </div>
              <div class="col col-lg-2"> <button disabled class="m-0 p-2 bg-transparent" status="warning" style="cursor: pointer;" nbButton hero> Archive </button> </div>
            </div>

          </div>
          <hr class="my-1"/>
        </div>
      </div>



      <div class="container-fluid content p-3 rounded" aria-label="Blog-Content">

        <div class="container text-secondary">
          <div class="row d-flex justify-content-around align-items-center">
            <div class="col"></div>
            <div class="col h2 text-center text-secondary"> Most Recent Posts </div>
            <div class="col d-flex justify-content-center"> <button class="p-2" status="info" style="cursor: pointer;" routerLink="newpost" nbButton hero> Create New Post </button> </div>
          </div>
        </div>
        <hr class="w-50" />


        <div class="container-fluid posts" aria-label="Blog-Posts">

          <nb-card
            class="container post"
            *ngFor="let post of posts$ | async as posts; index as i; first as isFirst;"
            >
            <nb-card-header class="d-flex justify-content-between align-items-center">

              <anon-blog-post-title [title]="post.title"></anon-blog-post-title>
              <a routerLink="{{post.id}}"> <i data-eva="arrowhead-right-outline" data-eva-animation="zoom" data-eva-fill="lightblue" data-eva-width="38" data-eva-height="38"></i> </a>
            </nb-card-header>
            <nb-card-body> <anon-blog-post-content [content]="post.content"></anon-blog-post-content> </nb-card-body>
            <nb-card-footer> Post created on {{ post.created_at | date }} </nb-card-footer>
          </nb-card>

        </div>


        <footer class="container footer" aria-label="Blog-Footer">
          <div class="row d-flex justify-content-center align-self-center">
            <p>Footer here</p>
          </div>
        </footer>

      </div>

  </div>


</div>
