<div class="container-fluid p-0" id="main-wrapper" [ngClass]="{'blur': blur_content}">


  <anon-blog-nav></anon-blog-nav>

  <div class="background-wrapper">

      <div class="container-fluid header p-2" aria-label="Blog-Header">
        <div class="container">
          <div class="row">

            <div class="col d-flex justify-content-start align-self-center" aria-label="Title/Logo">
              <div class="col"> <h4 class="m-0 text-primary"> Blog Newspost </h4> </div>
            </div>

            <div class="col d-flex justify-content-end" aria-label="Blog-Nav">
              <div class="col-md-auto align-self-center"> <button class="m-0 p-0 bg-transparent" style="border: none!important;cursor: pointer;" nbButton> <nb-search class="" type="rotate-layout"></nb-search> </button> </div>
              <div class="col col-lg-2"> <button disabled class="m-0 p-2 bg-transparent" status="warning" style="cursor: pointer;" nbButton hero> Archive </button> </div>
            </div>

          </div>
          <hr class="my-1"/>
        </div>
      </div>



      <div class="container-fluid content p-3 rounded" aria-label="Blog-Content">

        <div class="container text-secondary">
          <div class="row d-flex justify-content-around align-items-center">
            <div class="col"></div>
            <div class="col h2 text-center text-secondary"> Most Recent Posts </div>
            <div class="col d-flex justify-content-end"> <button class="p-2" status="info" style="cursor: pointer;" routerLink="newpost" nbButton hero> Create New Post </button> </div>
          </div>
        </div>
        <hr class="container" />


        <div class="container-fluid posts" aria-label="Blog-Posts">

        <anon-blog-post-card class="d-flex justify-content-around" [posts$]="posts$"> </anon-blog-post-card>

        </div>


        <footer class="container footer" aria-label="Blog-Footer">
          <div class="row d-flex justify-content-center align-self-center">
            <p>Footer here</p>
          </div>
        </footer>

      </div>

  </div>


</div>
