nav > button {
  height: 2rem;
}
.h6 {
  color: lightsteelblue!important;
}
// Background Color for Blog Content
.background-wrapper {
  background: #bec3cd;
}
// Color of Search Icon
nb-search > button > .nb-search {
  color: white!important;
}

#main-wrapper {
  height: 100%;
}

