<nb-layout>

  <nb-layout-header></nb-layout-header>

  <nb-layout-column>
    <div class="container">
      <div class="d-flex flex-column align-items-center">
        <div class="jumbotron">
          <div class="display-4"> Admin Dashboard  </div>
          <div class="lead"> Administrator dashboard to perform simple tasks. </div>
        </div>
        <a href="http://localhost:4200">
          <button class="btn btn-primary" routerLink="/">Go Home</button>
        </a>
      </div>
    </div>
  </nb-layout-column>

  <nb-layout-footer></nb-layout-footer>

</nb-layout>
